In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
df = pd.read_csv('Redemption_Details.csv')

In [13]:
df.head(5)

,Sr. No,Date of Encashment,Name of Political Party,Account Numbe of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,1.0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775.0,"1,00,00,000",800.0,2770121.0
1,2.0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975.0,"1,00,00,000",800.0,2770121.0
2,3.0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967.0,"1,00,00,000",800.0,2770121.0
3,4.0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418.0,"10,00,000",800.0,2770121.0
4,5.0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126.0,"10,00,000",800.0,2770121.0

In [14]:
df.dtypes

Sr. No                              float64
Date of Encashment                   object
Name of Political Party              object
Account Numbe of Political Party     object
Prefix                               object
Bond Number                         float64
Denominations                        object
Pay Branch Code                     float64
Pay Teller                          float64
dtype: object

In [15]:
df.drop('Sr. No', axis=1, inplace=True)

In [16]:
df.head()

,Date of Encashment,Name of Political Party,Account Numbe of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775.0,"1,00,00,000",800.0,2770121.0
1,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975.0,"1,00,00,000",800.0,2770121.0
2,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967.0,"1,00,00,000",800.0,2770121.0
3,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418.0,"10,00,000",800.0,2770121.0
4,12-Apr-19,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126.0,"10,00,000",800.0,2770121.0

In [18]:
df.dropna(inplace=True)

In [25]:
df['Bond Number'] = df['Bond Number'].astype(int)

In [51]:
df.dtypes

Date of Encashment                   datetime64[ns]
Name of Political Party                      object
Account Number of Political Party            object
Prefix                                       object
Bond Number                                   int32
Denominations                                 int32
Pay Branch Code                             float64
Pay Teller                                  float64
dtype: object

In [27]:
df.drop('Bond Numnber', axis=1, inplace=True)

In [42]:
df['Date of Encashment']=pd.to_datetime(df['Date of Encashment'],format= '%d-%b-%y')

In [50]:
df.dtypes

Date of Encashment                   datetime64[ns]
Name of Political Party                      object
Account Number of Political Party            object
Prefix                                       object
Bond Number                                   int32
Denominations                                 int32
Pay Branch Code                             float64
Pay Teller                                  float64
dtype: object

In [44]:
df.rename(columns={'Account Numbe of Political Party': 'Account Number of Political Party'}, inplace=True)

In [45]:
df.head()

,Date of Encashment,Name of Political Party,Account Number of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,"1,00,00,000",800.0,2770121.0
1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,"1,00,00,000",800.0,2770121.0
2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,"1,00,00,000",800.0,2770121.0
3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,"10,00,000",800.0,2770121.0
4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,"10,00,000",800.0,2770121.0

In [47]:
df['Denominations'] = df['Denominations'].str.replace(',','').astype(int)

In [48]:
df.head(5)

,Date of Encashment,Name of Political Party,Account Number of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800.0,2770121.0
1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800.0,2770121.0
2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800.0,2770121.0
3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800.0,2770121.0
4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800.0,2770121.0

In [53]:
df['Pay Branch Code'] = df['Pay Branch Code'].astype(int)
df['Pay Teller'] = df['Pay Teller'].astype(int)

In [54]:
df.dtypes

Date of Encashment                   datetime64[ns]
Name of Political Party                      object
Account Number of Political Party            object
Prefix                                       object
Bond Number                                   int32
Denominations                                 int32
Pay Branch Code                               int32
Pay Teller                                    int32
dtype: object

In [56]:
df.to_csv('Refined_Redemption.csv', index=False)